<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="layered_navigation">
                <field id="yu_filter_type" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Select Filter Type (Yu Filter)</label>
                    <source_model>Yu\Filter\Model\Config\Source\FilterType</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
